.uwftes-text {
  font-size: 18px;
}

.uwftes-count {
  font-size: 18px;
  display: flex;
  margin: 0px 0px 0px 0px;
}

.uwftes-parent {
  display: flex;
  justify-content: space-between;
  margin: 16px 0px 0px;
}
