.uwtnsh-dropdown {
  cursor: pointer;
}

.uwtnsh-dropdown .uwtnsh-expanded {
  display: none;
}

.uwtnsh-dropdown .uwtnsh-dd-left {
  float: left;
  margin-right: 7px;
  display: block;
}

.uwtnsh-dropdown .uwtnsh-dd-right {
  float: right;
}

/* If this changes, also update the script */
app-submissions app-details-pane app-submission-tag-set + span {
  display: none;
}

.uwtnsh-verified::after {
  content: ' \2713';
  color: green;
  font-family: initial;
}

.dark .uwtnsh-verified::after {
  color: lime;
}
