.uwftpb-blocked-hidden {
  display: none;
}

.uwftpb-header {
  font-weight: bold;
}

.uwftpb-table {
  width: 100%;
  border-collapse: collapse;
}

.uwftpb-table td:first-child {
  width: 100px;
  border: none;
}

.uwftpb-table td:last-child {
  width: 95px;
  text-align: right;
  border: none;
}
